# Build and CMake files
build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Compiled files
*.o
*.obj
*.exe
*.out
*.a
*.so

# Logs and temp
*.log

# System or IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Backup files
*~
